form {
  width: 44%;
  margin-left:auto;
  margin-right:auto;
}

#feed {
  float:left;
  width: 45%;
}

#feedScroll {
  overflow: auto;
  height: 592px;
}
#friendlist{
    float: right;
    width: 45%;
}
.list-group-item {
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 1%;
  margin-bottom: 1%;
  word-break: break-all;
}

.input-group {
  width: 100%;
}
.Input {
    margin-top: 2%;
    margin-left: 1.5%;
}


body {
  background-color: #e7e7e7;
}

h4 {
  margin-top: auto;
  margin-bottom: auto;
}

#searchForm {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

#searchFeed {
  width: 53%;
  margin-left: auto;
  margin-right: auto;
}

.addFriendButton {
  float: right;
}
