section{
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

form {
  margin-top: 5%;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

section form input {
  margin: auto;
}

#text_post{
  width:65%;
}

.post_text {
  width: 75%;
  word-break: break-all;
}
/* för list objekt */
article {
  width: auto;
  height: auto;
  margin-top:1%;
  background-color: lightblue;
  border: 1px solid black;
  clear: both;
}

article p {
  float:left;
  display: inline-block;
  width: 80%;
  height: auto;
}

article span {
  float:right;
}

article form {
  margin-right: 0%;
  width: 10%;
}

article form input {
  margin-left: 10%;
}
